* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    color: #222222;
}

.header {
    background-color: #222222;
}

.center {
    max-width: 1140px;
    margin: 0 auto;
}

.header-content {
    padding-top: 18px;
    padding-bottom: 19px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content__left {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.header-content__right {
    display: flex;
    align-items: center;
    gap: 33px;
}

.header-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: transparent;
}

.header-button_search {
    width: 26px;
    height: 27px;
    background-image: url(./img/search.svg);
    background-repeat: no-repeat;

}

.header-button_menu {
    width: 32px;
    height: 23px;
    background-image: url(./img/hamburger.svg);
    background-repeat: no-repeat;
}

.header-button_user {
    width: 29px;
    height: 29px;
}

.header-button_bucket {
    width: 32px;
    height: 29px;
    position: relative;
}

.counter {
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #F16D7F;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 75%;
    bottom: 55%;
}

.counter>span {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}

.hero {
    background-color: #F1E4E6;
}

.hero-content {
    position: relative;
    padding-top: 290px;
    padding-bottom: 381px;
    padding-left: 55%;
    line-height: 1.2;
}

.hero-content__image {
    position: absolute;
    left: -20%;
    bottom: 0;
    width: 764px;
}

.title {
    text-transform: uppercase;
    line-height: 1.2;
}

.hero-content__title {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.title__upper {
    display: block;
    font-size: 48px;
    font-weight: 900;
    color: #222222;
}

.title__down {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
}

.title__down_accent {
    color: #F16D7F;
}

.offers {
    padding-top: 65px;
    padding-bottom: 96px;
}

.offers-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-auto-rows: auto;
    gap: 30px;
}

.offer {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    background-color: #C4C4C4;
}

.offer_big {
    grid-column: span 3;
}

.offer_big>.title-wrapper {
    padding: 65px 0;
}

.offer__title {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.offer__title_accent {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.title-wrapper {
    position: absolute;
    background: rgba(33, 22, 22, 0.7);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 105px 0;
}

.products {
    padding-bottom: 60px;
}

.products-content {
    text-align: center;
    line-height: 1.2;
}

.products__title {
    font-weight: 400;
    font-size: 30px;
    color: #222;
}

.products__text {
    font-weight: 400;
    font-size: 14px;
    color: #9F9F9F;
    margin-bottom: 54px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-auto-rows: auto;
    column-gap: 30px;
    row-gap: 25px;
    margin-bottom: 48px;
}

.product {
    background-color: #F8F8F8;
    text-align: left;
    padding-bottom: 24px;
}

.product__img {
    margin-bottom: 25px;
}

.product__title {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: #000;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 29px;
}

.product__text {
    font-size: 14px;
    font-weight: 300;
    color: #5D5D5D;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 29px;
}

.product__price {
    font-size: 16px;
    font-weight: 400;
    color: #F16D7F;
    padding-left: 16px;
    padding-right: 29px;
}

.poducts__button {
    border: 1px solid #FF6A6A;
    background-color: #fff;
    padding: 15px 39px;
    font-size: 16px;
    font-weight: 400;
    color: #F26376;
    text-transform: capitalize;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .header-content {
        padding-left: 32px;
        padding-right: 32px;
    }

    .hero-content {
        padding: 0 34px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 39px;
    }

    .hero-content__image {
        position: relative;
        left: 0;
        width: 386px;
    }

    .title__upper {

        font-size: 44px;
    }

    .title__down {
        font-size: 24px;
    }
}