* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    color: #222222;
}

.header {
    background-color: #222222;
}

.center {
    max-width: 1140px;
    margin: 0 auto;
}

.header-content {
    padding-top: 18px;
    padding-bottom: 19px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content__left {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.header-content__right {
    display: flex;
    align-items: center;
    gap: 33px;
}

.header-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: transparent;
}

.header-button_search {
    width: 26px;
    height: 27px;
    background-image: url(./img/search.svg);
    background-repeat: no-repeat;
}

.header-button_bucket {
    width: 32px;
    height: 29px;
    background-image: url(./img/backet.svg);
    background-repeat: no-repeat;
}

.hero {
    background-color: #F1E4E6;
}

.hero-content {
    position: relative;
    padding-top: 290px;
    padding-bottom: 381px;
    padding-left: 55%;
    ;
}

.hero-content__image {
    position: absolute;
    left: -20%;
    bottom: 0;
    width: 764px;
}

.title {
    text-transform: uppercase;
    /* width: 405px; */
    line-height: 1.2;
}

.hero-content__title {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.title__upper {
    font-size: 48px;
    font-weight: 900;
    color: #222222;
}

.title__down {
    font-size: 32px;
    font-weight: 700;
}

.title__down_accent {
    color: #F16D7F;
}

.offers {
    padding-top: 65px;
    padding-bottom: 96px;
}

.offers-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.offer {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    background-color: #C4C4C4;
}

.offer_big {
    grid-column: span 3;
}

.offer_big>.title-wrapper {
    padding: 65px 0;
}

.offer__title {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.offer__title_accent {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.title-wrapper {
    position: absolute;
    background: rgba(33, 22, 22, 0.7);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 105px 0;
}

.products {
    padding-bottom: 60px;
}

.products-content {
    text-align: center;
}