/* Определяем шрифты */
/* "Gilroy Regular" */
@font-face {
    font-family: "Gilroy";
    src: url('fonts/Gilroy-Regular.woff2');
    font-weight: normal;
    font-style: normal;

}

/* "Gilroy Medium" */
@font-face {
    font-family: "Gilroy";
    src: url('fonts/Gilroy-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}

/* "Gilroy Semibold" */
@font-face {
    font-family: "Gilroy";
    src: url('fonts/Gilroy-Semibold.woff2');
    font-weight: 600;
    font-style: normal;

}

/* "Gilroy Bold" */
@font-face {
    font-family: "Gilroy";
    src: url('fonts/Gilroy-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-top: 39px;
}

.center {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    margin-bottom: 85px;
}

.header-contenet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 144px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.menu__link {
    font-size: 14px;
    text-transform: capitalize;
}

.menu__link:hover {
    color: #F25822;
}


.menu__link--active {
    color: #F25822;
}

.menu__link--dropdown::after {
    content: '\2304';
    display: inline-block;
}

.main-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.main-content__left {
    max-width: 522px;
}

.title {
    font-weight: bold;
    font-size: 60px;
}

.main-content__title {
    margin-bottom: 17px;
}

.main-content__text {
    font-weight: 500;
    font-size: 20px;
    color: #888;
    width: 467px;
    ;
}

.main-content__buttons {
    margin-top: 37px;
    display: flex;
    gap: 35px;
}

.button {
    font-weight: bold;
    font-size: 15px;
    color: #aaa;
    padding: 15px 36px 16px 35px;
    border: none;
    border-radius: 50px;
    background: transparent;
    cursor: pointer;
    text-transform: capitalize;
}

.button:hover {
    background-color: #F25822;
    color: #fff;
    box-shadow: 4px 4px 8px rgba(242, 88, 43, 0.2);
}

.button--active {
    background-color: #F25822;
    color: #fff;
    box-shadow: 4px 4px 8px rgba(242, 88, 43, 0.2);
}

.main-content__image {
    max-width: 546px;
}

.brand {
    padding-top: 97px;
    padding-bottom: 95px;
    margin-top: 162px;
}

.brand-content {
    display: flex;
    justify-content: space-between;
}

.brand-image {
    width: 160px;
}